body {
  margin: 0;
  font-family: Arial;
  background: #0a0a0a;
  color: white;
}

/* NAV */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 25px;
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,0.8);
}

.nav {
  display: flex;
  list-style: none;
  gap: 15px;
}

.nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 3px solid #ff6ec7;
}

h1 {
  color: #ff6ec7;
  font-size: 40px;
}

.tagline {
  opacity: 0.8;
  max-width: 500px;
}

/* BUTTONS */
.buttons {
  margin-top: 15px;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  border: 1px solid #ff6ec7;
  color: white;
  text-decoration: none;
}

.primary {
  background: #ff6ec7;
  color: black;
  font-weight: bold;
}

/* SECTIONS */
.section {
  padding: 80px 20px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  max-width: 800px;
  margin: auto;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: black;
  color: #00ccff;
}
